body{
    background-color: rgb(222, 240, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:grid;
    /* you needed to add grid-template-rows to tell the page you wanted
        multiple rows 
        remember "1fr 1fr" means 50% 50% you should play around 
        with the 1fr to adjust! for example ".2fr .8fr" */
    grid-template-rows: .1fr .9fr;
    grid-template-columns: 1fr 1fr; /* this creates an even two column layout*/
    /* you also needed to specify where the header should be, which
    in this case is the top row */
    grid-template-areas: "header header" "maparea sidepanel" /* this creates one row with map panel on the left and sidepanel on the right */
}





/* this is the CSS that tells the CSS to treat the "header" element 
as the header in the "grid-template-areas"! */


.header {
  padding: 20px;
  text-align: center;
  background-color: rgb(222, 240, 247);
  color: white;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  grid-area: head;
}



#contents{
    height: 20vh;
    background-color: rgb(222, 240, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#mapArea{
    height:92vh;
    grid-area: maparea;
    background-color: rgb(222, 240, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} 

#survey{
    grid-area: sidepanel;
    background-color: rgb(222, 240, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} 
button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
  }

  /* drop down button */
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
   color: white;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}