body{
    background-color: rgb(222, 240, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:grid;
    /* you needed to add grid-template-rows to tell the page you wanted
        multiple rows 
        remember "1fr 1fr" means 50% 50% you should play around 
        with the 1fr to adjust! for example ".2fr .8fr" */
    grid-template-rows: .5fr .5fr;
    grid-template-columns: 1fr 1fr; /* this creates an even two column layout*/
    /* you also needed to specify where the header should be, which
    in this case is the top row */
    grid-template-areas: "header header" "maparea sidepanel" /* this creates one row with map panel on the left and sidepanel on the right */
}

/* this is the CSS that tells the CSS to treat the "header" element 
as the header in the "grid-template-areas"! */
header{
    grid-area: header;
    background-color: rgb(222, 240, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contents{
    height: 20vh;
    background-color: rgb(222, 240, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#mapArea{
    height:92vh;
    grid-area: maparea;
    background-color: rgb(222, 240, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} 

#survey{
    grid-area: sidepanel;
    background-color: rgb(222, 240, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} 

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

